<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <link rel="stylesheet" href="/app/styles.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

    <script src="/app/shopping.js"></script>
    <script src="/app/shopping-angular.js"></script>
</head>
<body ng-app="ShoppingApp">
    <div id="wrap">
        <div id="main" class="container clear-top" ng-controller="ShoppingController">
            <table>
                <tr ng-repeat="item in items">
                    <td><span ng-bind="item.name"></span></td>
                    <td><span ng-bind="item.quantity"></span></td>
                    <td><button ng-click="removeItem(item.name)" ng-bind="webtext.remove"></button></td>
                    <td><button ng-click="purchaseItem(item.name)" ng-bind="webtext.purchase"></button></td>
                </tr>
                
                <tr>
                    <td><input type="text" ng-model="newname"/></td>
                    <td><input type="text" ng-model="newquantity"/></td>
                    <td><button ng-click="addItemFromPage()" ng-bind="webtext.add"></button></td>
                    <td></td>
                </tr>
            </table>
            
            Items remaining: <span ng-bind="items.length"></span>
            
            <ul>
                <li ng-repeat="item in cart">
                    <span ng-bind="item.name"></span>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        <a href="/app/SpecRunner.html">Load unit tests</a>
    </footer>
</body>
</html>
